{% extends "base.html" %}

{% block content %}

<h2>Добавить операцию</h2>

<form method="POST" class="form">

    <label>Сумма:</label>
    <input type="number" name="amount" step="0.01" min="0.01" required>

    <label>Тип операции:</label>
    <select name="type">
        <option value="income">Доход</option>
        <option value="expense">Расход</option>
    </select>

    <label>Категория:</label>
    <select name="category">
        <option>Еда</option>
        <option>Транспорт</option>
        <option>Развлечения</option>
        <option>Учёба</option>
        <option>Зарплата</option>
        <option>Другое</option>
    </select>

    <label>Комментарий:</label>
    <input type="text" name="comment">

    <button type="submit">Сохранить</button>

</form>

{% endblock %}